# Arquivos sensíveis
src/config/
certificates/
destiny_manifest/oauth_token.json
destiny_manifest/Manifest.content
destiny_manifest/MANZIP
destiny_manifest/manifest.pickle

# Arquivos temporários
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
.env