body {
    background-color: #121212;
    color: #e0e0e0;
}

.search-container {
    margin-bottom: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #e0e0e0;
}

#search-button {
    padding: 10px 20px;
    border: none;
    background-color: #bb86fc;
    color: #121212;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #a06cd5;
}

#results-container {
    margin-top: 20px;
    border: 1px solid #444;
    padding: 20px;
    border-radius: 10px;
    background-color: #1e1e1e;
}

.character-card {
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin-bottom: 20px;
}

.equipment-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.item-name {
    width: 200px; /* Adjust as needed */
    margin-right: 20px;
}

.item-perks, .item-mods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
    margin-left: 20px;
    flex-grow: 1;
}

.perk, .mod {
    margin-right: 10px;
    text-align: center;
}

.perk img, .mod img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #444;
}
